{% extends "home/base.html" %}
{% block content %}
<div class="well-lg" style="margin-bottom: 65%; color: white">
    <h3 style="color: white">Legal Notice</h3>
    This project has been developed as part of a classroom learning experience by students at Utah State University.  While efforts are made to ensure copyrights and intellectual property rights have not been violated, it is the responsibility of the organization using any classroom projects created by USU and its students to make sure the materials contained therein do not infringe the property rights (including without limitation rights of privacy and publicity, trademark rights, copyrights, patents, trade secrets, and licenses) of third parties.
</div>
{% endblock content %}