<!-- This file is not currently used. It is a custom form as opposed to a crispy form, which works
for simple models but not complex ones. -->
{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin: auto;" class="p-3 m-4 bg-white">
    <form method="POST" action='/series/create/'>
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Series</legend>
            <div class="row">
                <div class="col-sm-6">
                    <p><label to="series">Series Name</label>
                    <input type="text" name="series" id="series"></p>
                </div>
            </div>

        </fieldset>
        <div class="form-group">
            <button  class="btn btn-outline-primary" type="submit">Submit</button>
            <a class="btn btn-outline-secondary" href="/series/">Browse all series</a>
            <a class="text-muted m-2" style="float:right; cursor:pointer" id='cancel' onclick="window.history.back();">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}