{% extends "home/base.html" %}
{% block content %}
<div style="margin: auto;" class="p-3 m-4 bg-white">
    <h2>{{ series.Series }}</h2>
    <p><small>ID no. {{ series.SeriesID }}</small></p>
    <div class="row">

        <div class="col-sm-6">
            <p><b>Date Added:</b> {% if series.DateAdded == None %}Date Unknown{% else %}{{series.DateAdded|date:"F d, Y"}}{% endif %}</p>
            <a href="/series/update/{{ series.SeriesID }}" class="btn btn-warning">Edit</a>
            <a href="/series/delete/{{ series.SeriesID }}" class="btn btn-danger text-light">Delete</a>
        </div>
    </div>
</div>
{% endblock content %}