{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin: auto;" class="p-3 m-4 bg-white">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete Series</legend>
            <p>Note: <b> This action will delete the series permanently</b></p>
            <p>Are you sure you want to delete the series {{ series.Series }}?</p>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button  class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            <a class="btn btn-muted" href="/series/{{ series.SeriesID }}/">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}