{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin: auto;" class="p-3 m-4 bg-white">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Topic</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button  class="btn btn-outline-primary" type="submit">Submit</button>
            <a class="btn btn-outline-secondary" href="/topics/" target="_blank">Browse all topics</a>
            <a class="text-muted m-2" style="float:right; cursor:pointer" id='cancel' onclick="window.history.back();">Cancel</a>
        </div>
    </form>
</div>
<script>
    let dateAdded = $("#id_DateAdded");
    let date = new Date(dateAdded.val()).toISOString().slice(0, 10);;
    dateAdded.attr("type", "date");
    dateAdded.val(date)
</script>
{% endblock %}