{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin: auto;" class="p-3 m-4 bg-white">
    <form method="POST" action='/authors/create/'>
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Author</legend>
            <div class="row">
                <div class="col-sm-6">
                    <p><label to="firstName">First Name</label>
                    <input class="form-control" type="text" name="firstName" id="firstName"></p>
    
                    <p><label to="lastName">Last Name</label>
                    <input class="form-control" type="text" name="lastName" id="lastName"></p>
                </div>
                <div class="col-sm-6">
                    <label to="topicName">Main Topic</label>
                    <input class="form-control" type="text" name="topicName" placeholder="Start typing to search" id="topicParent" list="topics" oninput="getTopics()" autocomplete="off">
                    <datalist id="topics">
                    </datalist>
                    <p><a href="/topics/create/" target="_blank">Add a new topic</a></p>                    
                </div>
            </div>

        </fieldset>
        <div class="form-group">
            <button  class="btn btn-outline-primary" type="submit">Submit</button>
            <a class="btn btn-outline-secondary" href="/authors/">Browse all authors</a>
            <a class="text-muted m-2" style="float:right; cursor:pointer" id='cancel' onclick="window.history.back();">Cancel</a> 
        </div>
    </form>
</div>
{% endblock %}