{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin: auto;" class="p-3 m-4 bg-white">
    <form method="POST" id="transactionForm">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 pb-2"><div style="float:left">New 
                <select name="type" id="type" style="border:none" onchange="priceTypeChange();calculatePriceOfBooks();getTotalPayment();">
                    <option value="Sale">Sale</option>
                    <option value="Trade">Trade</option>
                    <option value="Purchase by Store">Purchase by Store</option>
                </select>
            </div>
                <div class="d-flex flex-row-reverse">
                    <div><input type="date" style="float:right" name="dateOfSale" id="dateOfSale" class="form-control" required {% if not transaction %} value='{% now "Y-m-d" %}' {% else %} value='{{transaction.DateOfSale|date:"Y-m-d"}}'{% endif %}></div>
                    <div><input type="text" name="salesperson" value="Becky" class="form-control"></div>
                </div>
            </legend>
            <div class="row mb-4 mx-1">
                <div class="col-sm-6">

                    <!-- Hidden values that are hard coded for simplicity -->
                    <input type="hidden" value="{{ transaction.ID }}" name="pk" id="pk">
                    <input type="hidden" name="condition" value="Good">
                    <input type="hidden" id="lastUpdate" name="lastUpdate" value='{% now "Y-m-d" %}'>
                    <!-- ************* -->

                    <p><label to="customer">Customer</label>
                        <input type="text" name="customer" placeholder="Search by last name" id="customerParent" list="customers" oninput="getCustomers();getCustomerInfo();isSubmitDisabled();" on class="form-control form-control-sm" required {% if transaction %} value="{{ transaction.CustomerID }}" {% endif %} autocomplete="off" autofocus>
                        <datalist id="customers">
                        </datalist>
                        <a href="/customers/create/" target="_blank">Add a new customer</a></p>
                </div>
                <div class="col-sm-6 my-3 py-3 small" id="cus" style="border: 2px solid lightgray;">
                    <p style="margin: 0;" id="customerName">Name:</p>
                    <p style="margin: 0;" id="customerAddress">Address:</p>
                    <p style="margin: 0;" id="customerPhone">Phone:</p>
                    <p style="margin: 0;" id="customerEmail">Email:</p>
                    <p style="margin: 0;">Book Credit Available: $<span id="bookCreditAvailable"></span></p>
                </div>
            </div>
            <a class="btn bg-primary btn-sm mb-2 text-light" type="button" id="addRowBtn">Add row</a>
            <table class="table table-sm table-borderless table-responsive" id="bookTableId">
                <tr>
                    <th>NTA</th>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th id="priceTypeHeader">Sale Price</th>
                    <th>Discount</th>
                    <th>Cover Type</th>
                    <th>Tax Exempt</th>
                    <th></th>
                </tr>
                <tr id="row1">
                    <td><input type="checkbox" name="noTradeAllowed" id="noTradeAllowed" style="width:20px;height:20px;"></td>
                    <td>                    
                        <input type="text" name="books" placeholder="Start typing to search" id="bookParent-1" list="books" oninput="isSubmitDisabled();getBooks();" class="form-control" required autocomplete="off" {% if transaction %} value="{{ transaction.BookID }}" {% endif %} autocomplete="off">
                        <datalist id="books">
                        </datalist>
                    </td>
                    <td><input class="form-control" min="1" type="number" name="quantity" oninput="calculatePriceOfBooks();getTotalPayment();" {% if transaction %} value="{{ transaction.Qty }}"{% else %}value="1"{% endif %} required></td>
                    <td class="price"><input type="number" name="price" id="price" class="form-control" step=".25" oninput="calculatePriceOfBooks();getTotalPayment();" value="0.00"></td>
                    <td class="price hidden"><input type="number" name="coverPrice" class="form-control" step=".25" oninput="calculatePriceOfBooks();getTotalPayment();" value="0.00"></td>
                    <td><input max="100" min="0" step="1" type="number" name="discount" id="discount" value="0" oninput="calculatePriceOfBooks();getTotalPayment();" class="form-control" {% if transaction %} value="{{ transaction.Discount }}" {% endif %}></td>
                    <td><input type="text" name="cover" placeholder="Start typing to search" id="coverParent" list="covers" oninput="isSubmitDisabled();getCovers();" class="form-control" required {% if transaction %} value="{{ transaction.CoverID }}" {% endif %}>
                        <datalist id="covers">
                        </datalist></td>
                    <td><input type="number" name="taxExempt" id="taxExempt" value="0" step="1" max="1" min="0" class="form-control" {% if transaction %} value="{{ transaction.TaxExempt }}" {% endif %}></p></td>
                    <td><input type="button" title="Remove row" class="text-danger form-control" value="X" onclick="if (document.querySelectorAll('tr').length > 2) {this.parentElement.parentElement.remove()};calculatePriceOfBooks();getTotalPayment();isSubmitDisabled();" style="border: none; padding: 0px 0px;"></td>
                    <input type="hidden" name="resale" value="0" id="resale" {% if transaction %} value="{{ transaction.Resale }}" {% endif %}>
                </tr>
            </table>

            <div id="payment" class="font-weight-lighter text-sm-right border-bottom mb-4 pb-2">
                <label for="subtotal">Subtotal: $</label><input type="text" name="subtotal" id="subtotal" style="border: none; width:6em;" disabled value="0.00"><br>
                <label for="subtotalDiscount">Discount: $</label><input type="text" name="subtotalDiscount" id="subtotalDiscount" style="border: none; width:6em;" disabled value="0.00" message="Discount must be between 0 and 1"><br>
                <label for="subtotalTax">Tax (<input style="border:none; width:1.5em" oninput="calculatePriceOfBooks();getTotalPayment();" type="text" name="taxRate" id="taxRate" value="6.5">%): $</label><input type="text" name="subtotalTax" id="subtotalTax" style="border: none; width:6em;" disabled value="0.00"><br>
                <label for="total">Total: $</label><input type="text" name="total" id="total" style="border: none; width:6em;" disabled value="0.00">
            </div>

            <h4>Payment Information</h4>
            <div class="row mt-2 justify-content-end mx-2">    
                <div class="col-sm-6 order-2" id="totalPaidDiv" style="border: solid lightgray 2px">
                    <p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Cash $</span>
                            </div>
                            <input type="number" name="cash" step="0.25" min="0" id="cash" value="0" class="form-control" {% if transaction %} value="{{ transaction.Cash }}" {% endif %} oninput="getTotalPayment();">
                          </div>
                    </p>
                    <p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Trade Credit $</span>
                            </div>
                            <input type="number" name="tradePrice" id="tradePrice" step="0.25" min="0" value="0" class="form-control" {% if transaction %} value="{{ transaction.TradePrice }}" {% endif %} oninput="getTotalPayment();">
                          </div>
                    </p>
                    <p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Check $</span>
                            </div>
                            <input type="number" name="check" step="0.25" min="0" id="check" value="0" class="form-control" {% if transaction %} value="{{ transaction.Check }}" {% endif %} oninput="getTotalPayment();">
                          </div>
                    </p>
                    <p>
                        <div class="input-group mb-3" id="checkNumber" style="display:none">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Check No.</span>
                            </div>
                            <input type="text" name="checkNo" id="checkNo" class="form-control" {% if transaction %} value="{{ transaction.CheckNum }}" {% endif %}>
                          </div>
                    </p>
                    <p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Gift Card $</span>
                            </div>
                            <input type="number" name="giftCertificate" step="0.25" min="0" id="giftCertificate" value="0" class="form-control" {% if transaction %} value="{{ transaction.GiftCert }}" {% endif %} oninput="getTotalPayment();">
                          </div>
                    </p>
                    <p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Other $</span>
                            </div>
                            <input type="number" name="other" id="other" step="0.25" min="0" value="0" class="form-control" {% if transaction %} value="{{ transaction.Cash }}" {% endif %} oninput="getTotalPayment();">
                          </div>
                    </p>
                    
                    <p>Total Paid: $ <span id="totalPaid">0.00</span></p>
                    <p>Change Due: $ <span id="totalChangeDue">0.00</span></p>
                </div>
                <div class="col-sm-6 order-1">
                        <textarea style="resize: vertical;" class="form-control my-2" name="description" id="description" placeholder="Description" form="transactionForm">{% if transaction %}{{ transaction.Description }}{% endif %}</textarea>
                        <p><label to="labels">Labels</label>
                            <input type="number" name="labels" value="0" id="labels" class="form-control" {% if transaction.Labels %}value="{{ transaction.Labels }}"{% endif %}></p>
                </div>
            </div>

            <div class="form-group mt-4">
                <button  class="btn btn-outline-primary" title="Some information is missing on this page." type="submit" id="submitBtn" disabled>Submit</button>
                <a class="btn btn-outline-secondary" href="/transactions/" target="_blank">Browse all transactions</a>
                <a class="text-muted m-2" style="float:right; cursor:pointer" id='cancel' onclick="window.history.back();">Cancel</a>    
            </div>


        </fieldset>
    </form>
</div>

<style>
    .hidden {
  display: none;
  opacity: 0;
}
</style>
<script>
function getCustomerInfo() {
        let text = document.getElementById('customerParent').value;
        $("#cus").css("border", "2px solid lightgray");
        $.ajax({
            url: `/api/customerInput/?text=${text}`,
            method: "GET",
            success: function(customers) {
                    $("#customerName").html(`Name:`);
                    $("#customerAddress").html(`Address:`);
                    $("#customerPhone").html(`Phone:`);
                    $("#customerEmail").html(`Email:`);
                    $("#cus").css("border", "2px solid lightgray");

                if (text === "") {
                    $("#cus").css("border", "2px solid lightgray");
                } else if (customers.length == 0) {
                    $.ajax({
                        url: `/api/customerInput/?text=${text.split(", ")[0]}`,
                        method: "GET",
                        success: function(customers) { 
                            let name = text.split(", ");
                            let fname = name[1];
                            let lname = name[0];
                            if (customers.length >= 1) {
                                for (c of customers) {
                                    if (c.lastName == lname && c.firstName == fname) {
                                        $("#customerName").html(`Name: ${c.lastName}, ${c.firstName}`);
                                        $("#customerAddress").html(`Address: ${c.address} ${c.city}, ${c.state} ${c.zip}`);
                                        $("#customerPhone").html(`Phone: ${c.homePhone}`);
                                        $("#customerEmail").html(`Email: ${c.email}`);
                                        $.ajax({
                                            url: `/api/bookCredit?text=${c.id}`,
                                            method: "GET",
                                            success: (data) => {
                                                $("#bookCreditAvailable").html(`${data['bookCredit']}`);
                                                $("#tradePrice").attr({"max": data['bookCredit']});
                                            }
                                        });
                                        $("#cus").css("border", "2px solid lightgreen");
                                        return
                                    }
                                }
                            } else {
                                $("#cus").css("border", "2px solid darkred");
                            }
                        }
                    })
                } else {
                    $("#cus").css("border", "2px solid darkred");
                }              
            },
            error: (e, r, s) => {
                $("#cus").css("border", "2px solid darkred");
                console.log(s);
            },
            complete: function() {
                let text = document.getElementById('customerParent').value;
                if (text === "") {
                    $("#cus").css("border", "2px solid lightgray");
                }
            }
    });
}
$("#addRowBtn").on("click", function() {
    let rows = document.querySelectorAll("tr");
    let newRow = rows[rows.length-1].cloneNode(true);
    newRow.id = `row${rows.length}`;
    document.querySelector("table tbody").append(newRow);
    calculatePriceOfBooks();
});

function calculatePriceOfBooks() {
    let i = 0;
    let taxRate = parseFloat($("#taxRate").val()) / 100;
    let finalSubtotal = 0.0;
    let finalDiscount = 0.0;
    let finalTotal = 0.0;
    for (row of document.querySelectorAll("tr")) {
        if (i != 0) {
            let price = parseFloat(row.childNodes[7].childNodes[0].value);
            let tradePrice = parseFloat(row.childNodes[9].childNodes[0].value)
            let discount = parseFloat(row.childNodes[11].childNodes[0].value) / 100;
            let q = Number(row.childNodes[5].childNodes[0].value);

            // Get the prices for stuff
            finalSubtotal += price*q + tradePrice * q;
            finalDiscount += discount*price*q + tradePrice*discount*q;
            finalTotal += (price*(1-discount) * (1 + taxRate))*q + (tradePrice*(1-discount) * (1 + taxRate))*q;

            // Make resale half of the cover price if it's a trade, and equal to the price if it's a sale
        }
        i++;
    }
    $("#subtotal").val(Number(finalSubtotal).toFixed(2));
    $("#subtotalDiscount").val(Number(finalDiscount).toFixed(2));
    $("#subtotalTax").val(Number(taxRate*(finalSubtotal-finalDiscount)).toFixed(2));
    $("#total").val(Number(finalTotal).toFixed(2));
}

$("#check").on("input", function() {
    if (Number($("#check").val()) != 0) {
        $("#checkNumber").css("display", "flex");
    } else {
        $("#checkNumber").css("display", "none")
    }
})
document.querySelectorAll("input").forEach(input => {
    input.addEventListener("input", () => {
        isSubmitDisabled();
    })
})

function getTotalPayment() {
    let total = parseFloat($("#total").val());
    let cash = parseFloat($("#cash").val());
    let tradePrice = parseFloat($("#tradePrice").val());
    let check = parseFloat($("#check").val());
    let gift = parseFloat($("#giftCertificate").val());
    let other = parseFloat($("#other").val());
    $("#totalPaid").html((cash+check+gift+other+tradePrice).toFixed(2));

    if (cash+check+gift+other+tradePrice > total) {
        $("#totalPaidDiv").css("border", "2px solid lightgreen");
        $("#totalChangeDue").html(((cash+check+gift+other+tradePrice)-total).toFixed(2));
    } else if (cash + check + gift + other + tradePrice == 0) {
        $("#totalPaidDiv").css("border", "2px solid lightgray");
        $("#totalChangeDue").html("");   
    } else {
        $("#totalPaidDiv").css("border", "2px solid darkred");
        $("#totalChangeDue").html("");
    }
}
function priceTypeChange() {
    let priceType = $("#type").find(":selected").text();

    for (row of document.querySelectorAll(".price")) {
            row.classList.toggle("hidden");
            row.childNodes[0].value = 0;
        }
    if (priceType == "Sale") {
        $("#priceTypeHeader").html("Sale Price");
    } else {
        $("#priceTypeHeader").html("Cover Price");

    }
}
function isSubmitDisabled() {
    if ($("#cus").css("border") == "2px solid rgb(144, 238, 144)" && $("#totalPaidDiv").css("border") == "2px solid rgb(144, 238, 144)") {
        let allFilledIn = true;
        let i = 0;
        for (row of document.querySelectorAll("tr")) {
            console.log(row);
            if (i != 0 && (row.childNodes[3].childNodes[1].value == "" || row.childNodes[13].childNodes[0].value == "")) {
                allFilledIn = false;
                console.log("can't enable the submit button!");
                console.log(row.childNodes[3].childNodes[1].value);
                console.log(row.childNodes[13].childNodes[0].value);
            }
            i++;
        }
        if (allFilledIn) {
            $("#submitBtn").prop('disabled', false);
            $("#submitBtn").attr('title', "");
        } else {
            $("#submitBtn").prop('disabled', true);
            $("#submitBtn").prop('title', "Some information on this page is missing or incorrect.");
        }
    } else {
        $("#submitBtn").prop('disabled', true);
        $("#submitBtn").prop('title', "Some information on this page is missing or incorrect.");
    }
}
</script>
{% endblock %}